<div class="firstwindow"></div>
<div class="mainimage"></div>
<div class="maintext">Открой для себя Территорию удовольствия </div>
<div class="textinfo">Здесь вы сможете получить весь спектр услуг по оздоровлению, омоложению организма. отдыху и релаксации на самом высоком европейском уровне</div>
<div class="panelforlink"><a asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a> <a href="aboutus.html">О НАC</a> УСЛУГИ СЕРТИФИКАТЫ КОНТАКТЫ</div>
<div class="timework">Мы работаем: с 9:00 до 22:00</div>
<div class="buttonrecord"></div>
<div class="textforrecording">Запись онлайн</div>

<div class="aboutus1-image1"></div>
<div class="aboutus1-image2"></div>
<div class="aboutus2-image1"></div>
<div class="aboutus-maintext1"> Атмосфера Бали в центре Казани </div>
<div class="aboutus-text1">В SPA-центрах BeautySPA работают исключительно высококвалифицированные мастера из Китая и Тибета, которые регулярно проходят переаттестацию, посещают семинары и повышают свою квалификацию. Обращаем Ваше внимание, что все азиатские процедуры выполняются на косметических продуктах из Китая, качество которых постоянно контролируется. Партнерами SPA-салонов BeautySPA являются профессиональные косметические компании, средства которых специалисты BeautySPA подбирают с учетом индивидуальных особенностей, типа кожи и предпочтений гостя. Сеть SPA-салонов BeautySPA является неоднократным участником и призером престижных Международных Премий в области красоты и здоровья.</div>
<div class="aboutus-maintext2">Гарантия качества</div>
<div class="aboutus-text2">Забудьте об утомительных перелетах, о языковых барьерах и акклиматизации, позвольте себе отпуск, не покидая черты нашего города! Звуки спокойной музыки, витание ароматов экзотических эфирных масел, мерцание свечей и удивительные ритуалы красоты и здоровья унесут Вас от городской суеты в райский уголок, где все для Вас и ради Вас.</div>
<div class="aboutus-text3">Мы предлагаем своим гостям сбалансированный пакет услуг по уходу за телом и лицом, основанный на эффективном комплексе SPA-процедур, уникальных массажных техниках, многовековом опыте аюрведы и восточных практик, а также последних разработках в области эстетической косметологии.</div>
<div style="top:3067px" class="lowpanel"></div>
<div style="top:3099px" class="lowpanellinks">О НАC УСЛУГИ СЕРТИФИКАТЫ КОНТАКТЫ ОТЗЫВЫ</div>
<div style="top:3335px" class="address">Проспект Ленина, 21 Республика Татарстан, г.Казань</div>
<div style="top:3272px" class="telephone">Тел. +7(345)021-45-67</div>
