
<div class="mainimage"></div>
<div class="maintext">Открой для себя Территорию удовольствия </div>
<div class="textinfo">Здесь вы сможете получить весь спектр услуг по оздоровлению, омоложению организма. отдыху и релаксации на самом высоком европейском уровне</div>
<div class="panelforlink">
    <a asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
    <a asp-controller="Home" asp-action="About">О НАC</a>
    <a asp-controller="ShopService" asp-action="Index">ЗАПИСЬ</a>
    <a asp-controller="Home" asp-action="Services">УСЛУГИ</a>
    <a href=" ">СЕРТИФИКАТЫ</a>

</div>
<div class="timework">Мы работаем: с 9:00 до 22:00</div>
<div class="buttonrecord"></div>
<div class="buttonrecord"></div>
<div class="textforrecording">Запись онлайн</div>
<div class="spa-day-image"></div>
<div class="buttonserv1"></div>
<div class="buttonserv2"></div>
<div class="look1">Посмотреть</div>
<div class="look2">Посмотреть</div>
<div class="balspa-kab">Баллийский SPA-кабинет</div>
<div class="spa-kab">SPA-день</div>
<div class="balspa-text">Балийский массаж и спа процедуры в исполнении дипломированных специалистов с острова Бали.</div>
<div class="spa-text">Прекрасная возможность посвятить уходу за собой целый день или провести незабываемое время с любимым человеком.</div>
<div class="spa-kab-image"></div>
<div class="buttonserv4"></div>
<div class="buttonserv5"></div>
<div class="look3">Посмотреть</div>
<div class="classic-massage">Классический массаж</div>
<div class="cosmetology">Косметология</div>
<div class="classic-massage-text">Один из лучших способов поддержания бодрости, хорошего самочувствия и профилактики различных заболеваний.</div>
<div class="cosmetology-text">Профессиональные программы ухода за кожей лица и тела, инъекционные методики.</div>
<div class="classic-massage-image"></div>
<div class="cosmetology-image"></div>
<div class="look4">Посмотреть</div>
<div class="buttonserv6"></div>
<div class="buttonserv7"></div>
<div class="look5">Посмотреть</div>
<div class="maniqure">Маникюр/Педикюр</div>
<div class="narashres">Наращивание ресниц</div>
<div class="maniqure-text">Комплексный и полный выбор процедур по уходу за ногтями,кожей рук и ног.</div>
<div class="narashres-text"> Мастера предлагают воспользоваться новинками и хорошо зарекомендовавшими себя идеями дизайна ресниц.</div>
<div class="maniqure-image"></div>
<div class="narashres-image"></div>
<div class="look6">Посмотреть</div>
<div class="slave-image"></div>
<div class="slave-button"></div>
<div class="slave-button-text">Узнать подробнее</div>
<div class="slave-text">Это отличный способ своим вниманием попасть в самое сердце!</div>
<div class="slave-maintext">Сертификат в BeautySPA</div>
<div class="giftinfo-text">Наши акции</div>
<div class="lastgift-text">Последнии выгодные предложения BeautySPA скидки и акции</div>
<div class="lastgift-text">Последнии выгодные предложения BeautySPA скидки и акции</div>
<div class="spafortwo-text">СПА для двоих</div>
<div class="brithdayspa-text">День рождения в BeautySPA</div>
<div class="spaskidki-text">Выходные в BeautySPA со скидкой 15%</div>
<div class="massagelica-text">Массаж лица</div>
<div class="massagelica-image"></div>
<div class="massagefortwo-image"></div>
<div class="brithdayspa-image"></div>
<div class="spaskidki-image"></div>
