<div class="servicesimage"></div>
<div class="serviestext">Наши услуги</div>
<div class="panelforlink">
    <a asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
    <a asp-controller="Home" asp-action="About">О НАC</a>
    <a asp-controller="ShopService" asp-action="Index">ЗАПИСЬ</a>
    <a asp-controller="Home" asp-action="Services">УСЛУГИ</a>
    СЕРТИФИКАТЫ
    КОНТАКТЫ 
</div>
<div class="timework">Мы работаем: с 9:00 до 22:00</div>
<div style="top:1218px" class="balspa-kab">Баллийский SPA-кабинет</div>
<div style="top:1406px" class="balspa-text">Балийский массаж и спа процедуры в исполнении дипломированных специалистов с острова Бали.</div>
<div style="top:1218px" class="spa-kab-image"></div>
<div style="top:1613px" class="look1">Посмотреть</div>
<div style="top:1613px" class="buttonserv1"></div>

<div style="top:1854px" class="spa-kab">SPA-день</div>
<div style="top:1997px" class="spa-text">Прекрасная возможность посвятить уходу за собой целый день или провести незабываемое время с любимым человеком.</div>
<div style="top:1854px" class="spa-day-image"></div>
<div style="top:2267px" class="look2">Посмотреть</div>
<div style="top:2267px" class="buttonserv2"></div>

<div style="top:2545px" class="classic-massage">Классический массаж </div>
<div style="top:2733px" class="classic-massage-text">Один из лучших способов поддержания бодрости, хорошего самочувствия и профилактики различных заболеваний.</div>
<div style="top:2545px" class="classic-massage-image"></div>
<div style="top:2942px" class="look3">Посмотреть</div>
<div style="top:2942px" class="buttonserv4"></div>

<div style="top:3207px" class="cosmetology">Косметология</div>
<div style="top:3332px" class="cosmetology-text">Профессиональные программы ухода за кожей лица и тела, инъекционные методики.</div>
<div style="top:3207px" class="cosmetology-image"></div>
<div style="top:3532px" class="look4">Посмотреть</div>
<div style="top:3532px" class="buttonserv5"></div>

<div style="top:3869px" class="maniqure">Маникюр/Педикюр</div>
<div style="top:4040px" class="maniqure-text">Комплексный и полный выбор процедур по уходу за ногтями,кожей рук и ног.</div>
<div style="top:3869px" class="maniqure-image"></div>
<div style="top:4270px" class="look6">Посмотреть</div>
<div style="top:4270px" class="buttonserv6"></div>

<div style="top:4563px" class="narashres">Наращивание ресниц</div>
<div style="top:4706px" class="narashres-text"> Мастера предлагают воспользоваться новинками и хорошо зарекомендовавшими себя идеями дизайна ресниц.</div>
<div style="top:4563px" class="narashres-image"></div>
<div style="top:4953px" class="look5">Посмотреть</div>
<div style="top:4953px" class="buttonserv7"></div>


<div style="top:5225px" class="lowpanel"></div>
<div style="top:5257px" class="lowpanellinks">О НАC УСЛУГИ СЕРТИФИКАТЫ КОНТАКТЫ ОТЗЫВЫ</div>
<div style="top:5493px" class="address">Проспект Ленина, 21 Республика Татарстан, г.Казань</div>
<div style="top:5430px" class="telephone">Тел. +7(345)021-45-67</div>
