    @using SPA.Data.Models
    <h1> Все услуги</h1>
    <h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Service service in Model.AllService)
        {
          @Html.Partial("AllService", service )
        }
     }
    </div>