<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <header>

        @*<div class="firstwindow"></div>
        <div class="mainimage"></div>
        <div class="maintext">Открой для себя Территорию удовольствия </div>
        <div class="textinfo">Здесь вы сможете получить весь спектр услуг по оздоровлению, омоложению организма. отдыху и релаксации на самом высоком европейском уровне</div>*@
        <div class="panelforlink">
            <a asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
            <a asp-controller="Home" asp-action="About">О НАC</a>
            <a asp-controller="ShopService" asp-action="Index">ЗАПИСЬ</a>
            <a asp-controller="Home" asp-action="Services">УСЛУГИ</a>
            <a href=" ">СЕРТИФИКАТЫ</a>

        </div>

        <div class="timework">Мы работаем: с 9:00 до 22:00</div>

    </header>
    <div class=" container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <div class="lowpanel"></div>
        <div class="lowpanellinks">
        <a href="">О НАC </a>
        <a href="">УСЛУГИ </a>
        <a href="">СЕРТИФИКАТЫ </a> 
        <a href="">КОНТАКТЫ </a>
        <a href="">ОТЗЫВЫ </a> </div>
        <div class="address">Проспект Ленина, 21 Республика Татарстан, г.Казань</div>
        <div class="telephone">Тел. +7(345)021-45-67</div>
        <div class=""></div>
    </footer>

    <script scr="~/js/bootstrap.min.js.map"></script>
</body>
</html>
