<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.min.css.map rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div class="panelforlink"><a href="index.html">ГЛАВНАЯ</a> <a href="aboutus.html">О НАC</a> УСЛУГИ СЕРТИФИКАТЫ КОНТАКТЫ</div>
    <div class="timework">Мы работаем: с 9:00 до 22:00</div>
    <script scr="~/js/bootstrap.min.js.map"></script>
</body>
</html>
